main {
    display: flex;
}












.primary_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}




/* platform launch section */

.platform_launch {
    height: 6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1.5rem 0 1.5rem;
    border-bottom: 1px solid #E4EBFA;
}

.platform_launch > h1 {
    font-size: 1.5rem;
    line-height: 1.88rem;
    font-weight: bold;
}

.platform_addTask_container {
    display: flex;
    align-items: center;
}

.platform_addTask_container > button {
    margin-right: 1.5rem;

    height: 3rem;
    width: 10.25rem;

    border-radius: 10rem;
    border: none;

    color: white;
    font-weight: bold;

    background-color: #A8A4FF;
}

.platform_addTask_container > img {
    height: 1.25rem;
}








/* task content section */

.task_content_empty {
    height: 100%;

    background-color: #E4EBFA;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task_content_empty > h2 {
    font-size: 1.1rem;
    color: #828FA3;
}

.task_content_empty > button {
    margin-right: 1.5rem;

    height: 3rem;
    width: 10.8rem;

    border-radius: 10rem;
    border: none;

    color: white;
    font-weight: bold;

    background-color: #635FC7;
}